{% load static %}

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center my-1">
            <div class="col-md-6">
                <h2 class="text-center">Mesopotamia, Asia</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Mesopatamia is a fully gated community located in the heart of the Garden of Eden, approximately 71 KM from Paris. This homely ambience stirs a relaxed, friendly feeling, great for families and convenient for retirement. Plus, this
                    1/4 acre plots are arranged in zones suitable for both residential and commercial use.</p>
                <p>Plots are available at <strong>Kshs 1, 950,000</strong>.</p>
                <p>But you can select any&nbsp;<span style="color: #00C569;"><em>remaining green plots</em>&nbsp;</span>&nbsp;and place a deposit of&nbsp;<strong>Kshs 40,000</strong>&nbsp;to book one right now. Then follow up the balance in a period
                    of&nbsp;12 months.&nbsp;<br></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Other ammenities include:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 d-inline-flex"><img class="img-thumbnail mr-2 info-illustration"  src="{% static 'assets/img/green-park.svg' %}">
                <p>Green parks</p>
            </div>
            <div class="col-sm-6 col-md-4 d-inline-flex"><img class="img-thumbnail mr-2 info-illustration" src="{% static 'assets/img/tarmac-road.svg' %}">
                <p>Tarmac road</p>
            </div>
            <div class="col-sm-6 col-md-4 d-inline-flex"><img class="img-thumbnail mr-2 info-illustration" src="{% static 'assets/img/street-light.svg' %}">
                <p>Street lighting</p>
            </div>
            <div class="col-sm-6 col-md-4 d-inline-flex"><img class="img-thumbnail mr-2 info-illustration" src="{% static 'assets/img/backup-generator.svg' %}">
                <p>Back-up Generator</p>
            </div>
            <div class="col-sm-6 col-md-4 d-inline-flex"><img class="img-thumbnail mr-2 info-illustration" src="{% static 'assets/img/recreational-facilities.svg' %}">
                <p>Recreational facilities</p>
            </div>
            <div class="col-sm-6 col-md-4 d-inline-flex"><img class="img-thumbnail mr-2 info-illustration" src="{% static 'assets/img/gated-community.svg' %}">
                <p>Gated community</p>
            </div>
        </div>
    </div>
</section>